<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Speichert Name, Geburtsdatum und Geschenkideen von mehreren Personen.">
    <title>Geburtstage 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Geburtstage 2</h1>

        <div id="app">
            <!-- R E A D - V I E W -->
            <div v-if="readVisible">
                <ul class="list-group mb-3">
                    <li v-for="kontakt in kontakte" :title="kontakt.geschenkidee"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <div>{{ kontakt.name }} ({{kontakt.kategorie}})</div>
                        <div>{{ deutschesDatumsformat(kontakt.geburtsdatum) }}</div>
                        <div>
                            <a class="btn btn-success me-2" :href="`tel:${kontakt.telefon}`">Anrufen</a>
                            <button @click="buttonEditClick(kontakt)" class="btn btn-primary me-2">Edit</button>
                            <button @click="buttonLoeschenClick(kontakt)" class="btn btn-danger">Löschen</button>
                        </div>
                    </li>
                </ul>

                <div class="d-grid"><button @click="buttonNeuClick" class="btn btn-success">Neu</button></div>
            </div>

            <!-- C R E A T E - V I E W -->
            <div v-if="createVisible">
                <h2 class="text-center">Neuen Datensatz erstellen</h2>
                <div class="border p-3 mb-3">
                    <label for="inputName">Name</label>
                    <input v-model="kontaktNeu.name" class="form-control" type="text" id="inputName">
                </div>

                <div class="border p-3 mb-3">
                    <label for="inputGeburtsdatum">Geburtsdatum</label>
                    <input v-model="kontaktNeu.geburtsdatum" class="form-control" type="date" id="inputGeburtsdatum">
                </div>

                <div class="border p-3 mb-3">
                    <label for="inputTelefon">Telefon</label>
                    <input v-model="kontaktNeu.telefon" class="form-control" type="tel" id="inputTelefon">
                </div>

                <div class="border p-3 mb-3">
                    <label for="inputGeschenkidee">Geschenkidee</label>
                    <textarea v-model="kontaktNeu.geschenkidee" class="form-control" type="date"
                        id="inputGeschenkidee"></textarea>
                </div>

                <div class="border p-3 mb-3">
                    <label for="selectKategorie">Kategorie</label>
                    <select v-model="kontaktNeu.kategorie" class="form-select" 
                        id="selectKategorie">
                        <option value="F">Familie</option>
                        <option value="A">Arbeit</option>
                        <option value="S">Sonstige</option>
                    </select>
                </div>

                <button @click="buttonSpeichernClick" class="btn btn-success me-3">Speichern</button>
                <button @click="buttonAbbrechenClick" class="btn btn-danger">Abbrechen</button>
            </div>

            <!-- D E L E T E - V I E W -->
            <div v-if="deleteVisible">
                <h2>Löschen</h2>
                <p>Wollen Sie {{ kontaktDelete.name }} wirklich löschen?</p>
                <button @click="buttonDeleteJaClick" class="btn btn-success me-3">Ja</button>
                <button @click="buttonAbbrechenClick" class="btn btn-danger">Abbrechen</button>
            </div>

            <!-- U P D A T E - V I E W -->
            <div v-if="updateVisible">
                <h2 class="text-center">Datensatz ändern</h2>
                <div class="border p-3 mb-3">
                    <label for="inputNameUpdate">Name</label>
                    <input v-model="kontaktUpdate.name" class="form-control" type="text" id="inputNameUpdate">
                </div>

                <div class="border p-3 mb-3">
                    <label for="inputGeburtsdatumUpdate">Geburtsdatum</label>
                    <input v-model="kontaktUpdate.geburtsdatum" class="form-control" type="date"
                        id="inputGeburtsdatumUpdate">
                </div>

                <div class="border p-3 mb-3">
                    <label for="inputTelefonUpdate">Telefon</label>
                    <input v-model="kontaktUpdate.telefon" class="form-control" type="tel" id="inputTelefonUpdate">
                </div>

                <div class="border p-3 mb-3">
                    <label for="inputGeschenkideeUpdate">Geschenkidee</label>
                    <textarea v-model="kontaktUpdate.geschenkidee" class="form-control" type="date"
                        id="inputGeschenkideeUpdate"></textarea>
                </div>

                <div class="border p-3 mb-3">
                    <label for="selectKategorieUpdate">Kategorie</label>
                    <select v-model="kontaktUpdate.kategorie" class="form-select" 
                        id="selectKategorieUpdate">
                        <option value="F">Familie</option>
                        <option value="A">Arbeit</option>
                        <option value="S">Sonstige</option>
                    </select>
                </div>

                

                <button @click="buttonUpdateSpeichernClick" class="btn btn-success me-3">Speichern</button>
                <button @click="buttonAbbrechenClick" class="btn btn-danger">Abbrechen</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>